[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "tractor.base"]
	path = tractor.base
	url = https://github.com/tractor/tractor
	subdir = tractor.base
